<div style="text-align:center; color: black;"><br>
<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.text_field :name, placeholder: "Name" %>
	</div>
	<div class="field">
		<%= f.text_field :email, placeholder: "Email" %>
	</div><br>
	<div class="field">
		<%= f.text_area :about_me, placeholder: "A little bit about you....", size: "45x10" %>
	</div><br>
	<div class="field">
		<%= f.password_field :password, placeholder: "Choose a password" %>
	</div>
	<div class="field">
		<%= f.password_field :password_confirmation, placeholder: "Repeat password" %>
	</div><br>
	<div class="actions"><%= f.submit %></div><br />
	<div class="btn btn-default"><%= link_to 'Back', products_path %></div>
<% end %>
</div>