<div class="thumbnail col-lg-4">
	<%= link_to product_path(product.id) do %>
	    <h3><%= product.name %></h3>
	    <%= image_tag product.avatar.url(:medium) %>
	    <h4>$<%= product.formatted_price %></h4>
	  <% end %>
	<p>Version#: <%= product.description %></p>
</div>