<h1 style="text-align:center;">Welcome to the HomePage</h1>
<p style="text-align:center;"><%= link_to '+ New Item', "/products/new" %></p><hr />

<% @products.each do |product| %>
  <p style="text-align:center;">Name:<%= link_to product.name, "/products/#{product.id}" %><br>
		 Description: <%= product.description %> <br>
		 Price($): <%= product.formatted_price %> <br>
		 <%= link_to 'Edit', "/products/#{product.id}/edit" %></p><hr />
<% end %>
