<div style="text-align:center; color: black;">
<h1>Name: <%= @product.name %></h1>
<h2 style="color: Green;"><u>Price: $<%= @product.formatted_price %></u></h2>

<% if current_user %>
  <h4>New Review</h4>
  <div style="color: black;">
  <%= render "reviews/form" %>
  </div>
<% else %>
  <p>Please <%= link_to 'log in', new_session_path %> to add a review.</p>
<% end %>
<p class="btn btn-default"><%= link_to 'Back', products_path %></p>
</div>