<div style="text-align:center;">
<h2>Reviews for item: <u><%= @product.name %></u></h2><hr />

<div style="color: black;">
	<%= render "form" %>
</div>
<p class="btn btn-default"><%= link_to 'Back', products_path %></p>
<% @product.reviews.order("created_at DESC").each do |review| %>
	<p>
		<% if review.user != nil %>
			<h4 style="color:blue;"><%= review.comment %></h4>
			<em>by <b><%= review.user.name %></b></em>
			<u>Added on: <%= review.created_at %></u>
		<% end %>
		<br>
	</p>
	<hr style="width:40px;"/>
<% end %>
</div>