<div style="text-align:center;">
	
	<h2>Reviews for item: <br><u><%= @product.name %></u></h2>
		<%= image_tag @product.avatar.url(:medium) %>
	<h3><u>Version: </u></h3><p><%= @product.description %></p>

	<div style="color: black;">
		<%= render "form" %>
	</div>

	<p class="btn btn-default"><%= link_to 'Back', products_path %></p>
	
	<div id="review-list">
		<%= render :partial => "reviews" %>
	</div>
</div>